.articleTitle {
  padding-bottom: 0.7rem;
}
.articleTitle a {
  font-size: 1.1rem;
  font-weight: 700;
  color: #00008b;
}
.articleDescription {
  color: #05182a;
}
.dropdownCategory {
  margin-bottom: 1rem;
}
.newsTitle {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}
.dropdownCategory {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}
